/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
///*------------------------------------*\
//    #PX-DEFAULTS-DESIGN
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.


@import "../px-functions-design/tools.functions";


// High-level base settings.
$inuit-base-font-size:          15px !default;
$inuit-base-line-height:        20px !default;
$inuit-base-text-color:         #000 !default;
$inuit-base-background-color:   #fff !default;





// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
$inuit-namespace:               null !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$inuit-base-spacing-unit:           calculateRem($inuit-base-font-size);
$inuit-base-spacing-unit--tiny:     calculateRem(#{round($inuit-base-line-height / 4});
$inuit-base-spacing-unit--small:    calculateRem(#{round($inuit-base-line-height / 2});
$inuit-base-spacing-unit--large:    calculateRem($inuit-base-line-height);
$inuit-base-spacing-unit--huge:     calculateRem(#{round($inuit-base-line-height * 1.5});